@use '../utils' as *;

.container {
	max-width: 1300px;
	padding: 0 base(1);
	margin: 0 auto;
	&.wide {
		max-width: 1500px;
		padding: 0 base(0.5);
		@include if-wider-than(_phone) {
			padding: 0 base(1);
		}
	}
}
