@use '../utils' as *;

.page_title {
	@include font(_heading, _medium);
	margin-top: base(2);
	line-height: base(1);
	color: color(_text, 0.5);
	display: flex;
	align-items: center;
	gap: base(1);

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: color(_foreground, 0.5);
	}
}

.cv_grid {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: base(0);
	gap: base(0);

	@include if-wider-than(_tablet-landscape) {
		grid-template-columns: 2fr 3fr;
		gap: base(4);
	}
}

.cv_content {
	h2 {
		margin-top: base(2);
		margin-bottom: base(0.5);
		@include font(_heading, _large, _medium);

		@include if-wider-than(_phone) {
			@include font(_heading, _large, _medium);
		}
	}
}

.skill_list {
	padding-left: base(1);
	list-style: disc;
	line-height: 1.6;

	list li {
		@include font(_body, _medium);
	}
}

.cv_entry {
	margin-bottom: base(1.5);
	margin-top: base(1);
	padding-left: base(0.75);
	margin-left: base(0.25);
	box-shadow: -1px 0 0 color(_foreground, 0.5);

	& > p:nth-of-type(1) {
		color: color(_text, 0.5);
	}

	& > p:nth-of-type(2) {
		@include font(_body, _medium, _medium);
		line-height: 1.2;
		padding: base(0.25) 0;
	}
}
