@use '../utils' as *;

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 base(0.5);
	height: base(5);
	margin-top: base(4);
	box-shadow: 0 -1px 0 color(_text, 0.1);
	color: color(_text, 0.5);

	.links {
		display: flex;
		gap: base(1);
	}
}
