@use '../utils' as *;
@use '../reusable' as *;

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: base(2);
	padding: base(3) base(0.5);
	margin-top: base(4);
	box-shadow: 0 -1px 0 color(_foreground, 0.25);

	@include if-wider-than(_tablet-portrait) {
		flex-direction: row;
		padding: base(2) base(0.5);
	}

	.links {
		display: flex;
		gap: base(1);
		flex-wrap: wrap;
		justify-content: center;

		a {
			text-decoration: none;
			color: color(_text, 0.5);
			transition: color 0.1s;
			&:hover {
				color: color(_text, 0.75);
			}
		}
	}
}

.toTopButton {
	@include button-styles;
}
