@use '../utils' as *;

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: base(2);
	padding: base(3) base(0.5);
	margin-top: base(4);
	box-shadow: 0 -1px 0 color(_foreground, 0.25);

	@include if-wider-than(_tablet-portrait) {
		flex-direction: row;
		padding: base(2) base(0.5);
	}

	.links {
		display: flex;
		gap: base(1);

		a {
			color: color(_text, 0.5);
			transition: color 0.2s;
			&:hover {
				color: color(_text);
			}
		}
	}
}
