@use '../utils' as *;

.header {
	height: base(4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: base(1);
}

.brand {
	text-decoration: none;
	p:last-of-type {
		padding-left: base(1);
	}
}

.menu_button {
	$button-size: base(2);

	display: grid;
	place-items: center;
	background: color(_foreground);
	border-radius: 999px;
	height: $button-size;
	width: $button-size;
}
