@use '../utils' as *;

.header {
	height: base(4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: base(1);
	position: relative;
}

.brand {
	text-decoration: none;
	line-height: 1.2;
	p:last-of-type {
		padding-left: base(1);
	}
}

.menu_button {
	$button-size: base(2);

	display: grid;
	place-items: center;
	border-radius: 999px;
	height: $button-size;
	width: $button-size;
	background: color(_foreground, 0.75);
	transition: background-color 0.2s;

	&:hover {
		background: color(_foreground);
	}
}

.menu_icon {
	transform: rotate(0deg) translateY(1px);
	transition: transform 0.2s;
	transform-origin: center;

	&.is_open {
		transform: rotate(180deg) translateY(1px);
	}
}

.menu_wrapper {
	position: absolute;
	right: 0;
	top: base(4);
	z-index: 999;
	overflow: hidden;
	border-radius: base(1);
	width: base(10);
}
