@use '../utils' as *;

.project_item a {
	text-decoration: none;

	&:hover h2 {
		text-decoration: underline;
	}
}

.thumbnail {
	border-radius: base(1);
	object-position: 25% 25%;
}

.info {
	display: flex;
	justify-content: space-between;
	gap: base(1);
	padding: base(0.5) base(0.5);

	div {
		width: 0;
		flex-grow: 1;

		* {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	p {
		color: color(_text, 0.6);
	}

	.date {
		padding-bottom: base(1);
	}
}
