@use '../utils' as *;
@use '../reusable' as *;

.thumbnail {
	border-radius: base(1);
	object-position: 25% 25%;
}

.title {
	@include font(_heading, _large, _bold);
	letter-spacing: -0.025em;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: -1px;
	margin-top: base(1);
	@include if-wider-than(_phone) {
		@include font(_heading, _xlarge, _bold);
	}
}

.info {
	@include font(_body, _normal);
	color: color(_text, 0.6);
	padding-bottom: base(1);
	@include if-wider-than(_phone) {
		@include font(_body, _normal);
	}
}

.links {
	@include font(_body, _normal);
	a {
		@include button-styles;
		display: inline-flex;

		margin: {
			bottom: base(0.5);
			right: base(0.5);
		}
		&:last-of-type {
			margin: {
				bottom: base(1);
				right: 0;
			}
		}
	}
}

.blurb {
	@include font(_body, _normal);
	padding-bottom: base(3);
	@include if-wider-than(_phone) {
		@include font(_body, _medium);
	}
}

.images {
	display: grid;
	gap: base(1);
	padding-bottom: base(3);

	img {
		border-radius: base(1);
	}
}
