@use './reset';
@use './utils' as *;

// * {
// 	outline: 1px solid color(_accent, 0.1);
// }

.global__icon {
	$icon-size: base(1);

	width: $icon-size;
	height: $icon-size;
	fill: color(_text);
}

.global__text {
	max-width: 65ch;
	margin: {
		left: auto;
		right: auto;
	}
}
