@use './reset';
@use './utils' as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

.global__icon {
	$icon-size: base(1);

	width: $icon-size;
	height: $icon-size;
	fill: color(_text);
}

.global__text {
	max-width: 65ch;
	margin: {
		left: auto;
		right: auto;
	}
}
